body {
    margin:0;
}

li {
    float: left;
}

ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

li a {
    display: block;
    padding: 16px 14px;
    text-align: center;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #A1A1A1
}