body {
    margin:0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

li {
    float: left;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

li a {
    display: block;
    padding: 16px 14px;
    text-align: center;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #A1A1A1
}

h1.a {
    text-align: center;
}
